NUXT_SESSION_PASSWORD=
NUXT_POSTGRES_URL="postgresql://user:password@localhost:5432/db"
NUXT_RESEND_API_KEY=re_xxxxxxxxxxxx
NUXT_APP_URL=http://localhost:3000
NUXT_EMAIL_FROM="Grid Vault <onboarding@resend.dev>"
NUXT_INITIAL_EMAIL=
NUXT_INITIAL_PASSWORD=
